node_modules
.git
.next
dist
.turbo
.cursor
Foto_protokol
dist-patches
tools/node
tools/pgsql
tools/pgdata
tools/minio-data
tools/redis
tools/redis-data
tools/logs
tools/backups
tools/*.exe
tools/*.zip
*.log
.env
.env.local
**/.env
**/.env.local
**/dist
**/.next
**/*.tsbuildinfo
